examples/ai-research-workflow.json
{
  "name": "AI Research Workflow with PraisonAI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "research",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "research-trigger"
    },
    {
      "parameters": {
        "operation": "runAgent",
        "agent": "researcher",
        "query": "={{ $json.body.query }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "praisonai_1",
      "name": "PraisonAI Researcher",
      "type": "n8n-nodes-praisonai.praisonAI",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "praisonAIApi": {
          "id": "1",
          "name": "PraisonAI API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond_1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "PraisonAI Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PraisonAI Researcher": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "praisonai-example"
  },
  "tags": []
}
