examples/multi-agent-content-pipeline.json
{
  "name": "Multi-Agent Content Pipeline with PraisonAI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "content-pipeline-trigger"
    },
    {
      "parameters": {
        "operation": "runAgent",
        "agent": "researcher",
        "query": "={{ $json.body.topic }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "praisonai_researcher",
      "name": "Research Agent",
      "type": "n8n-nodes-praisonai.praisonAI",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "praisonAIApi": {
          "id": "1",
          "name": "PraisonAI API"
        }
      }
    },
    {
      "parameters": {
        "operation": "runAgent",
        "agent": "writer",
        "query": "Write an article based on this research: {{ $json.response }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "praisonai_writer",
      "name": "Writer Agent",
      "type": "n8n-nodes-praisonai.praisonAI",
      "typeVersion": 1,
      "position": [750, 300],
      "credentials": {
        "praisonAIApi": {
          "id": "1",
          "name": "PraisonAI API"
        }
      }
    },
    {
      "parameters": {
        "operation": "runAgent",
        "agent": "editor",
        "query": "Edit and improve this article: {{ $json.response }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "praisonai_editor",
      "name": "Editor Agent",
      "type": "n8n-nodes-praisonai.praisonAI",
      "typeVersion": 1,
      "position": [1000, 300],
      "credentials": {
        "praisonAIApi": {
          "id": "1",
          "name": "PraisonAI API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"topic\": $('Webhook Trigger').item.json.body.topic, \"article\": $json.response } }}"
      },
      "id": "respond_1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer Agent": {
      "main": [
        [
          {
            "node": "Editor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editor Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "praisonai-example"
  },
  "tags": []
}
