examples/slack-ai-assistant.json
{
  "name": "Slack AI Assistant with PraisonAI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-ai",
        "options": {}
      },
      "id": "webhook_slack",
      "name": "Slack Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "slack-ai-trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition_1",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "url_verification",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter_1",
      "name": "Filter Verification",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "runWorkflow",
        "query": "={{ $json.body.event.text }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "praisonai_assistant",
      "name": "PraisonAI Assistant",
      "type": "n8n-nodes-praisonai.praisonAI",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "praisonAIApi": {
          "id": "1",
          "name": "PraisonAI API"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Webhook').item.json.body.event.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.response }}",
        "otherOptions": {}
      },
      "id": "slack_reply",
      "name": "Reply in Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [850, 300],
      "credentials": {
        "slackApi": {
          "id": "2",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Slack Webhook": {
      "main": [
        [
          {
            "node": "Filter Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Verification": {
      "main": [
        [
          {
            "node": "PraisonAI Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PraisonAI Assistant": {
      "main": [
        [
          {
            "node": "Reply in Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "praisonai-example"
  },
  "tags": []
}
